.image-details-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

canvas {
  max-height: 100%;
  max-width: 100%;
  cursor: crosshair;
}