<head>
  <title></title>
  <base href="/" />
</head>

<body>
  <div>
    <img class="logo" src="assets/GhostCatLogo.png" alt="Ghost Cat Logo" />
  </div>
  <div>
    <mat-form-field class="inputBox">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Enter email address" [(ngModel)]="email" [required]="true" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="inputBox">
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Enter password" [(ngModel)]="password" [required]="true" />
    </mat-form-field>
  </div>
  <div class="buttons">
    <button (click)="sendLoginRequest()">Login</button>
    <button (click)="goToPage('forgotpassword')">Forgot Password</button>
  </div>
  <p>
    <button (click)="goToPage('register')">Register</button>
    <button (click)="goToPage('reset')">Reset Password</button>
  </p>

  <div class="bottom-spacing"></div>
</body>