    <head>
        <title></title>
        <base href="/">
    </head>
    
    <body>
        <div>
            <img class="logo"src="assets/GhostCatLogo.png" alt="Ghost Cat Logo" />
        </div>
        <div class="inputs">
            <input type="text" placeholder="Email">
        </div>
        <div class="inputs">
            <input type="text" placeholder="Password">
        </div>
        <div class="buttons"> 
            <button (click)="goToPage('search')">Login</button>
            <button (click)="goToPage('forgotpassword')">Forgot Password</button>
        </div>
        <p>
            <button (click)="goToPage('register')">Test register link</button>
            <button (click)="goToPage('reset')">Test password reset link</button>
        </p>
    </body>
