<head>
  <title></title>
  <base href="/" />
</head>

<body>
  <div>
    <img class="logo" src="assets/GhostCatLogo.png" alt="Ghost Cat Logo" />
  </div>
  <div class="inputs">
    <input id="EmailUserInput" type="text" placeholder="Email" />
  </div>
  <div class="inputs">
    <input id="PasswordUserInput" type="password" placeholder="Password" />
  </div>
  <div class="buttons">
    <button (click)="sendLoginRequest($event)">Login</button>
    <button (click)="goToPage('forgotpassword')">Forgot Password</button>
  </div>
  <p>
    <button (click)="goToPage('register')">Register</button>
    <button (click)="goToPage('reset')">Reset Password</button>
  </p>
</body>
