<head>
  <title></title>
  <base href="/" />
</head>
<body>
  <div>
    <h1>New Search</h1>
    <h3>Standard Filters</h3>
  </div>
  <div>
    <input
      type="checkbox"
      id="Animal"
      [checked]="searchByAnimal"
      (change)="(searchByAnimal != searchByAnimal)"
    />
    Search by Animal
    <select name="animals" id="AnimalValue">
      <option value="Mule Deer">Mule Deer</option>
      <option value="Cow">Cow</option>
      <option value="Sheep">Sheep</option>
      <option value="Other">Other</option>
    </select>
    Confidence Level (percent)<input type="number" id="ConfidenceLevel" />
  </div>
  <div>
    <input
      type="checkbox"
      id="Camera"
      [checked]="searchByCamera"
      (change)="(searchByCamera != searchByCamera)"
    />
    Search by Camera
    <select name="cameras" id="CameraTrap">
      <option value="site002">site002</option>
      <option value="site004">site004</option>
      <option value="site005">site005</option>
      <option value="site006">site006</option>
      <option value="site008">site008</option>
    </select>
  </div>
  <div>
    <input
      type="checkbox"
      id="Date"
      [checked]="searchByDate"
      (change)="(searchByDate != searchByDate)"
    />
    Search by Date
    <input type="date" id="FirstDate" />
    <select name="between" id="DateType">
      <option value="between">between</option>
      <option value="after">after</option>
      <option value="before">before</option>
    </select>
    <input type="date" id="SecondDate" />
  </div>
  <div>
    <button (click)="enterSearch()">Search</button>
  </div>
</body>
