<head>
  <title></title>
  <base href="/" />
  <link href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" rel="stylesheet" />
</head>
<body>
    <div class="topnav" >
      <span title="Logout" class="icon" (click)="logout()">
        <i class="fas fa-door-open" alt="Logout"></i>
      </span>
    </div>
  <div>
    <h1>New Search</h1>
    <h3>Standard Filters</h3>
  </div>
  <div>
    <mat-checkbox id="Animal" [(ngModel)]="searchByAnimal"
      >Search by Animal</mat-checkbox
    >
    <mat-form-field *ngIf="searchByAnimal" class="marginLeft">
      <mat-label>Select a Class</mat-label>
      <mat-select [(value)]="classChoice" [required]="true">
        <mat-option *ngFor="let class of classes" [value]="class">
          {{ class }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="searchByAnimal && classChoice" class="marginLeft">
      <mat-label>Confidence Level (percent)</mat-label>
      <input matInput type="number" id="ConfidenceLevel" [required]="true" />
    </mat-form-field>
  </div>
  <div>
    <mat-checkbox id="Camera" [(ngModel)]="searchByCamera"
      >Search by Camera</mat-checkbox
    >
    <mat-form-field *ngIf="searchByCamera" class="marginLeft">
      <mat-label>Camera Trap</mat-label>
      <mat-select [(value)]="cameraTrapsSelected" [required]="true" multiple>
        <mat-option *ngFor="let trap of cameraTraps" [value]="trap">
          {{trap}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <app-google-maps-wrapper
      *ngIf="searchByCamera"
      style="width: 100%; height: 400px"
      [latitude]="40.77956"
      [longitude]="-110.37389"
      [cameraLocations]="cameraLocations"
      (cameraSiteClicked)="updateCameraSite($event)"
    ></app-google-maps-wrapper>
  </div>
  <div>
    <mat-checkbox id="Date" [(ngModel)]="searchByDate"
      >Search by Date</mat-checkbox
    >
    <mat-form-field *ngIf="searchByDate" class="marginLeft">
      <mat-label>Enter Date Criteria</mat-label>
      <mat-select
        [(value)]="dateType"
        [disabled]="!searchByDate"
        [required]="searchByDate"
      >
        <mat-option value="between">between</mat-option>
        <mat-option value="after">after</mat-option>
        <mat-option value="before">before</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="searchByDate" class="marginLeft">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        (dateChange)="firstDate = $event.value"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field *ngIf="dateType == 'between'" class="marginLeft">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        (dateChange)="secondDate = $event.value"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <h3>View Options</h3>
  </div>
  <div>
    <mat-radio-group
      class="radio-button-group"
      aria-label="Select preferred view option:"
      [(ngModel)]="selectedView"
    >
      <mat-radio-button class="radio-button" value="map"
        >Map View</mat-radio-button
      >
      <mat-radio-button class="radio-button" value="thumbnails"
        >Image View</mat-radio-button
      >
    </mat-radio-group>
  </div>
  <div>
    <button (click)="enterSearch()">Search</button>
  </div>
</body>
