<head>
    <title></title>
    <base href="/">

    
</head>
<body>
   <div>
       <h1>New Search</h1>
       <h3>Standard Filters</h3>
   </div>
   <div>
        <input type="checkbox" id="Animal"> Search by Animal 
        <select name="animals">
            <option value="mule deer">Mule Deer</option>
            <option value="cow">Cow</option>
            <option value="sheep">Sheep</option>
            <option value="other">Other</option>
        </select>
        Percent Certain <input type="number">
   </div>
   <div>
        <input type="checkbox" id="Camera"> Search by Camera 
        <select name="cameras">
            <option value="site002">site002</option>
            <option value="site004">site004</option>
            <option value="site005">site005</option>
            <option value="site006">site006</option>
            <option value="site008">site008</option>
        </select>
    </div>
    <div>
        <input type="checkbox" id="Date"> Search by Date
        <input type="date">
        <select name="between">
            <option value="between">between</option>
            <option value="after">after</option>
            <option value="before">before</option>
        </select>
        <input type="date">
    </div>
    <div>
        <button (click)="goToPage('thumbnails')">Search</button>
    </div>
</body>