body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 75px 50px;
}

h1 {
  font-weight: 200;
}

div {
  margin: 20px;
}

button {
  width: 10%;
  padding: 0.5%;
  background-color: #00aeef;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #707070;
}

.marginLeft {
  margin-left: 20px;
}

.radio-button-group {
  display: flex;
  flex-direction: column;
}

.radio-button {
  margin: 5px;
}
