<head>
    <title>Password Reset Page</title>
    <base href="/">
</head>

<body>
    <div>
        <img class="logo" src="assets/GhostCatLogo.png" alt="Ghost Cat Logo" />
    </div>
    <div class="inputs">
        <input type="text" placeholder="Email">
    </div>
    <div class="inputs">
        <input type="text" placeholder="New Password">
    </div>
    <div class="inputs">
        <input type="text" placeholder="Confirm Password">
    </div>
    <div class="buttons">
        <button (click)="goToPage('login')">Reset Password</button>
    </div>

    <div class="bottom-spacing"></div>
</body>