body {
    text-align: center;
  }
  
  .logo {
    height: 10%;
    width: 22.5%;
  }
  
  .inputBox {
    width: 30%;
    padding: 0.5%;
    margin-bottom: 2%;
  }
  
  button {
    width: 10%;
    padding: 0.5%;
    margin-right: 5.5%;
    margin-left: 5.5%;
    background-color: #00aeef;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #707070;
  }
  
  .bottom-spacing {
    height: 64px;
  }