<head>
    <title></title>
    <base href="/" />
  </head>
  
  <body>
    <div>
      <img class="logo" src="assets/GhostCatLogo.png" alt="Ghost Cat Logo" />
    </div>
    <h1>Enter the verifcation code that was sent to your email, then enter your new password</h1>
    <p>New password must be longer than 8 characters</p>
    <div>
        <mat-form-field class="inputBox">
          <mat-label>Verification Code</mat-label>
          <input matInput type="string" placeholder="Enter the verification code that was sent to your email" [(ngModel)]="verificationCode" [required]="true" />
        </mat-form-field>
      </div>
    <div>
      <mat-form-field class="inputBox">
        <mat-label>New Password</mat-label>
        <input matInput type="password" placeholder="Enter new password" [(ngModel)]="newPassword" [required]="true" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="inputBox">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" placeholder="Confirm password" [(ngModel)]="newPasswordConfirm"
          [required]="true" />
      </mat-form-field>
    </div>
    <div class="buttons">
      <button (click)="confirmPasswordReset()">Reset Password</button>
    </div>
    <div class="bottom-spacing"></div>
  </body>