<div class="thumbnails-page">
  <gallery class="gallery" [items]="items" [itemTemplate]="itemTemplate" [gestures]="false"
    (indexChange)="indexChanged($event)">
  </gallery>

  <ng-template #itemTemplate let-index="index" let-type="type" let-data="data" let-currIndex="currIndex">
    <!-- Image Details Component goes here -->
    <app-image-details [src]="data.src"></app-image-details>
  </ng-template>

  <app-sidebar [animalLabels]="imageData[currIndex].animalLabels"
    [animalPercentages]="imageData[currIndex].animalPercentages" [metadataLabels]="imageData[currIndex].metadataLabels"
    [metadataValues]="imageData[currIndex].metadataValues">
  </app-sidebar>
</div>