<h1 mat-dialog-title>Image details</h1>
<div mat-dialog-content>
    <div class="parent">
        <div class="image-container">
            <img [src]=data.url alt="Database image">
        </div>

        <div class="info">
            <div class="animal-info">
                <h5>Animals</h5>
                <p class="animal-text" *ngFor="let animal of data.animalList">
                    {{animal}}
                </p>
            </div>

            <div class="metadata-info">
                <h5>Metadata</h5>
                <p class="metadata-text" *ngFor="let metadata of data.metadataList">
                    {{metadata}}
                </p>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCloseClick()">Close</button>
</div>