.details {
  width: 360px;
  height: 100%;
  padding: 32px 0;
  box-sizing: border-box;
  align-self: start;
  overflow-y: scroll;
}

.header {
  padding: 0 32px;
}

.animal-header {
  padding-left: 32px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 16px;
}

.animal-header-title {
  margin-bottom: 0;
}

.expandable-list {
  margin-bottom: 32px;
}

.expandable-list-item {
  padding: 8px 0;
}

.item-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 270px;
}

.list-item {
  padding-left: 32px;
  padding-right: 16px;
}

.fa-circle { 
  align-self: center;
  padding-left: 16px;
  padding-right: 8px;
}

.info {
  margin-bottom: 32px;
  padding: 0 32px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 32px;
}

h4 {
  margin-top: 0px;
  margin-bottom: 16px;
}

.form-field {
  font-size: 12pt;
  width: 100%;
}

.fa-check-circle {
  color: black;
  padding-right: 8px;
}

.fa-times-circle {
  color: black;
  padding-right: 8px;
}

.fa-plus-circle {
  color: black;
}

.fa-check {
  color: black;
  padding-right: 8px;
}

.fa-times {
  color: black;
}

.new-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button {
  padding: 4px 16px;
  background-color: #00AEEF;
  color: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #707070;
}

.cancel-button {
  padding: 4px 16px;
  background-color: black;
  color: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #707070;
}

.prompt {
  color: slategrey;
  font-size: 10pt;
  margin: 0;
  text-transform: none;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.prompt p {
  margin: 0 0 8px 0;
}

.expandable-list .expandable-list-item .expandable-list-item-title .expandable-list-item__dropdown {
  display: block;
}