.details {
    width: 360px;
    height: 100%;
    padding: 32px;
    box-sizing: border-box;
    align-self: start;
    overflow-y: scroll;
  }
  
  .info {
    margin-bottom: 32px;
  }
  
  .text {
    font-size: 10pt;
    margin-bottom: 16px;
    display: flex;
    white-space: pre-wrap;
  }

  h3 {
    margin-top: 0px;
    margin-bottom: 32px;
  }
  
  h5 {
    margin-top: 0px;
    margin-bottom: 16px;
  }
  
  .form {
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }