<head>
    <title>Forgot Password Page</title>
    <base href="/">
</head>

<body>
    <div>
        <img class="logo" src="assets/GhostCatLogo.png" alt="Ghost Cat Logo" />
    </div>
    <h3>To reset your password enter your username or email below:</h3>
    <div class="inputs">
        <input type="text" placeholder="Username or Email" [(ngModel)]="email" [required]="true">
    </div>
    <div class="buttons">
        <button (click)="sendPasswordReset()">Reset Password</button>
    </div>

    <div class="bottom-spacing"></div>
</body>