<head>
  <title></title>
  <base href="/" />
</head>
<body>
  <div>
    <img class="logo" src="assets/GhostCatLogo.png" alt="Ghost Cat Logo" />
  </div>
  <div *ngIf="registerComplete">
    <h1>Registration Complete!</h1>
    <button (click)="goToPage('login')">Back to login</button>
  </div>
  <div *ngIf="!registerComplete">
    <div>
      <mat-form-field class="inputBox">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          placeholder="Enter email address"
          [(ngModel)]="email"
          [required]="true"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="inputBox">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Enter password"
          [(ngModel)]="password"
          [required]="true"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="inputBox">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Confirm password"
          [(ngModel)]="confirmPassword"
          [required]="true"
        />
      </mat-form-field>
    </div>
    <div class="buttons">
      <button (click)="sendRegisterRequest()">Register</button>
    </div>
  </div>
</body>
