body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  height: 10%;
  width: 22%;
}

.inputBox {
  width: 22%;
  padding: 0.5%;
  margin-right: 5.5%;
  margin-left: 5.5%;
}

button {
  width: 22%;
  padding: 0.5%;
  margin-right: 5.5%;
  margin-left: 5.5%;
  background-color: #00aeef;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #707070;
}
